{% extends 'loginapp/base.html' %}
{% load static %}

{% block mynav%}
<a class="nav-item nav-link " href="{% url 'admin:index' %}">Admin</a>
      <a class="nav-item nav-link active" href="{% url 'loginapp:register' %}">Register <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body_block %}

<div style="margin-top:55px; padding-top:55px;" class="container-fluid text-sm-center p-5 bg-info text-white "> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2"></h1>
    <!-- <p class="lead">A One-day Conference About All Things JavaScript!</p> -->

    {% if registered %}
         <h1>Thank you for registring</h1>
    {% else %}
        <h1>Register Here!</h1>

        <form enctype="multipart/form-data" method="POST" >

            {% csrf_token %}
            {{ user_form.as_p }}
            ---------------------------------------------------------------------
            {{ profile_form.as_p }}

            <input type="submit" name="" value="Register">
        </form>

    {% endif %}




</div>

{% endblock %}